<h2>All Superpowers</h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <%= power.name %>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>

<%= button_to "Report a new Power", {action: "new"}, method: :get %>
<%= button_to "See all Heroines", heroines_path, method: :get %>
