<h2><%= @power.name %></h2>

<p><strong>Description:</strong> <br /><%= @power.description %></p>

<h4>Heroines: </h4>
<ul>
    <% @heroines.each do |heroine| %>
        <li><%= link_to heroine.super_name, heroine %></li>
    <% end %>
</ul>

<%= button_to "Edit", edit_power_path(@power), method: :get %>